    <!-- CANVAS -->
    <section class="canvasExpander">
    <canvas id="canvas" class="background"></canvas>

    <!-- NAVBAR -->
    <header class="navbar z-depth-0">
        <a href="/user" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="basket_btn" class="fas fa-shopping-basket fa-3x"></i>
            </div>
        </a>
        <a href="/guide" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="spore_btn" class="fab fa-hubspot fa-3x  "></i>
            </div>
        </a>
        <a href="/map" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="map_btn" class="fas fa-map-marked-alt fa-3x"></i>
            </div>
        </a>
    </header>

     <!-- LOGO -->
     <div class="spor_container">
        <div class="spor_image">
            <h6><img class="image" src="./img/logo/spor_logo.png" style="width:300; height:400px;" alt=""></h6>
        </div>
    </div>

    <!-- GUIDE INFO -->
     <!-- SPŌR NOUN -->
     <div id="spor_noun" class="spor_noun">
        <h1 class="spor_word" style="margin-bottom: 0;"><strong>attribute</strong><span class="spor_word_type">   noun</span></h1>
        <h5 class="spor_pronunciation">/ˈatrəˌbyo͞ot/</h5>
        <h6 class="spor_text_block">a quality or feature regarded as a characteristic or inherent part of someone or something.</h6>
        <div class="welcome_text_wrapper">
            <h6 class="welcome_text">Use the list of attributes below to narrow down your species search. Click on an attribute to be shown a list of traits and check all that apply. Any species that fit your criteria will be appended below. The attributes will stack until you uncheck them or click the `Clear Attributes` button. You'll find the `Found!` button on the mushroom cards appended below. </h6>
        </div>
    </div>

    <!-- CLEAR ATTRIBUTES BUTTON --->
    <div class="clear_att_button_body">
        <a id="clear_att_btn" class="waves-effect waves-dark btn">Clear Attributes</a>
    </div>

    <!-- SEARCH  --->
    <form name="mushAttributes">
        {{#each mushroom.attributes}}
        <!-- ATTRIBUTE MODAL -->
        <div class="attribute_search_body">
            <!-- ATTRIBUTE MODAL BTN -->
            <djv data-target="{{@key}}attributes" class="attribute_openbtn_style waves-effect waves-light btn modal-trigger transparent" href="#{{@key}}_attributes">
            <div class="attribute_selection">
                <div class="new_attribute_title">
                    <h6><strong>{{this.title}}</strong></h6>         
                </div>
                <div class="new_attribute_text">
                    <h7 class="att_text_color">{{this.subTitle}}</h7>
                </div>
                <div class="new_attribute_arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            </div>
            <!-- ATTRIBUTE MODAL CONTENT -->
            <div id="{{@key}}attributes" class="modal">
                <div class="modal-content">
                    <div class="content_wrapper">
                        <h3 id="attribute_modal_title">Pore Characteristics</h3>
                        <div class="row">
                            {{#each this.Attributes}}
                            <div class="col s12 m6">
                                <label for="{{this.AttributeTypeId}}{{this.id}}">
                                        <input type="checkbox" data-id="{{this.id}}" name="{{this.AttributeTypeId}}{{this.id}}" id="{{this.AttributeTypeId}}{{this.id}}"/>
                                        <span>{{this.description}}</span>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                <div class="modal-footer">
                <a href="#pores_attributes" class="attribute_closebtn_style modal-close waves-effect waves-green btn-flat">X</a>
                </div>
            </div>
        </div><!-- .attribute_search_body -->
        {{/each}}
    </form>
    <!-- SLIDER -->
    <div class="slider_body">
        <div id="slider">
            <div class="slider_icon_up">
                <i class="fas fa-chevron-up"></i>
            </div>
            <div class="slider_icon_down">
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>
    
    <!-- RESULTS BODY--->
    <!-- these should be added dynamically -->
    <div id="guide_container">
        <!-- GUIDE MUSHROOMS -->
        <div id="guide_results" class="guide_results_body">
            <!-- MUSH BODY -->
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/lionsMane_thumbnail.jpg" alt="mushroom">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Lion's Mane</strong></h6> 
                </div>
                <div class="space"></div>
                <!-- MUSH BTN -->
                <div class="mushroom_page_btn_body_wrapper">
                    <div class="mushroom_page_btn_body">
                            <a href="/mushroom" target="_self" id="mushroom_page_btn" class="btn-floating btn-large waves-effect waves-light red gesture"><i class="material-icons" style="font-size: 40px;">forward</i></a>
                        <a ></a>
                    </div>
                </div>
            </div>
            <!-- MUSH BODY -->
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/chanterelle_thumbnail.jpg" alt="mushroom">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Chanterelle</strong></h6> 
                </div>
                <div class="space"></div>
                <!-- MUSH BTN -->
                <div class="mushroom_page_btn_body_wrapper">
                    <div class="mushroom_page_btn_body">
                            <a href="/mushroom" target="_self" id="mushroom_page_btn" class="btn-floating btn-large waves-effect waves-light red gesture"><i class="material-icons" style="font-size: 40px;">forward</i></a>
                        <a ></a>
                    </div>
                </div>
            </div>
            <!-- MUSH BODY -->
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/porcini_thumbnail.jpg" alt="mushroom">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Porcini</strong></h6> 
                </div>
                <div class="space"></div>
                <!-- MUSH BTN -->
                <div class="mushroom_page_btn_body_wrapper">
                    <div class="mushroom_page_btn_body">
                            <a href="/mushroom" target="_self" id="mushroom_page_btn" class="btn-floating btn-large waves-effect waves-light red gesture"><i class="material-icons" style="font-size: 40px;">forward</i></a>
                        <a ></a>
                    </div>
                </div>
            </div>
            <!-- MUSH BODY -->
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/blackTrumpet_thumbnail.jpg" alt="mushroom">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Black Trumpet</strong></h6> 
                </div>
                <div class="space"></div>
                <!-- MUSH BTN -->
                <div class="mushroom_page_btn_body_wrapper">
                    <div class="mushroom_page_btn_body">
                            <a href="/mushroom" target="_self" id="mushroom_page_btn" class="btn-floating btn-large waves-effect waves-light red gesture"><i class="material-icons" style="font-size: 40px;">forward</i></a>
                        <a ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <script src="./js/guide.js" type="text/javascript"></script>
