<!-- CANVAS -->
    <section class="canvasExpander">
    <canvas id="canvas" class="background"></canvas>

    <!-- NAVBAR
        --------------------------------------------------------------------------->
        <header class="navbar z-depth-0">
            <a href="/user" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="basket_btn" class="fas fa-shopping-basket fa-3x"></i>
            </div>
        </a>
        <a href="/guide" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="spore_btn" class="fab fa-hubspot fa-3x  "></i>
            </div>
        </a>
        <a href="/map" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="map_btn" class="fas fa-map-marked-alt fa-3x"></i>
            </div>
        </a>
    </header>
    
    <!-- LOGO -->
    <div class="spor_container">
        <div class="spor_image">
            <h6><img id="spor_image" class="image" src="./img/logo/spor_logo.png" style="width:300; height:400px;" alt=""></h6>
        </div>
        
        <!-- SPŌR NOUN -->
        <div class="spor_noun">
            <h1 class="spor_word" style="margin-bottom: 0;"><strong>fungi</strong><span class="spor_word_type">   noun</span></h1>
            <h5 class="spor_pronunciation">/ˈfəNGɡəs/</h5>
            <h6 class="spor_text_block">any of a group of spore-producing organisms feeding on organic matter, including molds, yeast, mushrooms, and toadstools.</h6>
            <div class="welcome_text_wrapper">
                <h6 class="welcome_text">Here you'll find information about a certain species toxicity levels, preffered habitat, etc, represented by icons for quick reference. If you've been successful in your foraging efforts and have found this species, click the `Found!` button to add it to your basket. Once added, you'll be able to see the date and current location when the species was added.</h6>
            </div>
        </div>
        
    <!-- ID BODY 
        --------------------------------------------------------------------------->
        <div id="mushroom_ID">
            <!-- MUSHROOM CONTAINER -->
        <div class="mushroom_container">
            <!-- MUSHROOM IMAGE -->
            <div class="mushroom_image">
                <img id="mushroom_image" class="mushroom_image_border" src={{mushroom.mushroom_photo}} alt="">
            </div>

            <!-- MUSHROOM HEADER -->
            <div class="mushroom_header">
                <h1 id="name_latin" class="mushroom_name_latin">{{mushroom.latinName}}</h1>
                <div class="wrapper">
                    <h1 class="mushroom_name_type lower">latin</h1>
                    <i class="up-arrow fas fa-sort-up"></i>
                </div>
                <h1 id="mushroom_name_common" class="mushroom_name_common lift">{{mushroom.commonName}}</h1>
                <div class="wrapper">
                    <h1 class="mushroom_name_type">common </h1>
                    <i class="up-arrow fas fa-sort-up"></i>
                </div>
                <h5 id="common_pronunciation" class="common_pronunciation">{{mushroom.pronunciation}}</h5>
                <h6 id="mushroom_header_text" class="mushroom_header_text">{{mushroom.content}}</h6>
            <!-- FOUND! BTN -->
            <div class="btn_wrapper">
                <button id="foundBtn" name="foundBtn" type="submit" class="waves-effect waves-light btn-large btn">FOUND!</button>
            </div>
            <div id="map"></div>
            <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
                });
            }
            </script>
            </div>
            <!-- MUSHROOM FACTS -->
            <div class="quick_icons">
                {{#each mushroom.Icons}}
                <div class="icon_block">
                    <div class="icon_image">
                        <i class='{{dataValues.fAwesomeClass}}'></i>
                    </div>
                    <p class="icon_text">{{dataValues.description}}</p>
                </div>
                {{/each}}
            </div>

            <!-- FORAGING FACTS -->
            <div class="spor_app">
                <h1 class="spor_word" style="margin-bottom: 0;"><strong>Forage</strong><span class="spor_word_type">   verb</span></h1>
                <h5 class="spor_pronunciation">/fôrij,ˈfärij/</h5>
                <h6 class="spor_text_block">(of a person or animal) search widely for food or provisions.</h6>
                <h6 class="spor_text_block">
                    <div class="facts_list">
                        <p><span class="do_not">Do not</span> consume any mushroom unless you're 100 percent certain of what you’re picking.</p>
                        <p><span class="do_not">Do not</span> rely on only one source of information for identification.</p>
                        <p><span class="do_not">Do not</span> pull the mushrooms up by the roots; cut them.</p>
                        <p><span class="do_not">Do not</span> take more than you plan to eat.</p>
                        <p><span class="do_not">Do not</span> pick mushrooms that appear young or small; let them grow and spread spores to populate for future seasons.</p>
                        <p><span class="do_not">Do not</span> assume your body will react as other's do. Ease your way into consuming wild edibles.</p>
                        <p><span class="do">Do</span> be 100 percent certain of what you’re picking.</p>
                        <p><span class="do">Do</span>  take pictures of mushrooms that you cannot identify to ask others and to gain knowledge.</p>
                        <p><span class="do">Do</span> make sure to enjoy being in the forest even if you do not find any mushrooms.</p>
                        <p><span class="do">Do</span> keep track of where you wonder to avoid getting lost. Let someone know where you're going and for how long.</p>
                        <p><span class="do">Do</span> follow all of these guidelines every time you forage for wild edibles.</p>
                    </div>
                </h6>
            </div>
        </div>
    </div>
